@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Julius+Sans+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.home_hero {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home_hero_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
    padding: 0px 0;
    position: sticky;
    top: 20px;
    z-index: 4;
}

.home_hero_nav_logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-family: 'Julius Sans One', sans-serif;
    color: #2D3134;
    font-weight: bolder;
    width: 109px;
    position: relative;
    /* text-shadow: 1px 2px 5px #FF7B29; */
    text-shadow: 1px 2px 5px #263FA4;
    transition: 1.5s;
    cursor: pointer;
}

.home_hero_nav_logo_back {
    width: 0px;
    transition: 0.5s;
}

.home_hero_nav_logo:hover {
    /* position: absolute;
    background-color: red;
    z-index: -1;
    width: 109px;
    height: 7px;
    overflow: hidden;
    top: 10px;
    border-radius: 5px;
    transition: 0.5s; */
    letter-spacing: 10px;
    width: 190px;
    transition: 1.5s;
}


.home_hero_nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 406px;
}

.home_hero_nav_menus {
    position: relative;
}

.home_hero_nav_menus:hover .home_hero_nav_menus_active {
    position: absolute;
    width: 92%;
    height: 3.5px;
    top: 20px;
    background: #FF7B29;
    border-radius: 50px;
    transition: 0.2s;
}

.home_hero_nav_menus a {
    text-decoration: none;
    width: 42px;
    height: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #2D3134;
    letter-spacing: 0.3ch;
    cursor: pointer;
}

.home_hero_nav_menus_active {
    position: absolute;
    width: 12px;
    height: 3.5px;
    top: 20px;
    background: #FF7B29;
    border-radius: 2px;
    transition: 0.2s;
}

.home_hero_nav_menus_showsub:hover .home_hero_nav_menus_sub {
    /* display: block !important; */
    height: 200px;
    opacity: 1;
    top: 15px;
    transition: 0.3s;
}

.home_hero_nav_menus_sub {
    /* display: none; */
    position: absolute;
    width: 200px;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    height: 0px;
    opacity: 0;
    /* background-color: red; */
    padding: 20px 0px;
    /* border: 1px solid black; */
    transition: 0.3s;
}

.home_hero_nav_menus_sub_menu {
    text-align: center;
    height: 30px;
    width: 100%;
    /* padding:0px 10px; */
}

.home_hero_nav_menus_sub_menu a {
    padding: 10px;
    width: 100%;
    transition: 0.2s;
}

.home_hero_nav_menus_sub_menu a:hover {
    background-color: rgb(192, 192, 192);
    transition: 0.2s;
}


.home_hero_nav_button {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    box-sizing: border-box;

    background: #FF7B29;
    border-radius: 8px;
    align-self: center;
    padding: 16px 22px;
    cursor: pointer;
}






.home_hero_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 180px; */
    margin-top: 100px;
    width: 100%;
    align-self: center;
}

.home_hero_info_content {
    max-width: 547px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_hero_info_content_title {
    width: 547px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 52px;
    line-height: 69px;
    letter-spacing: -0.02em;
    color: #2D3134;
    margin-bottom: 46px;

}

.home_hero_info_content_title span {
    width: 547px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 52px;
    line-height: 69px;
    letter-spacing: -0.02em;
    color: #263FA4;
}

.home_hero_info_content_desc {
    width: 443px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #676A6C;
    margin-bottom: 45px;
}

.home_hero_info_content_button {
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background: #FF7B29;
    box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
    border-radius: 12px;
    padding: 16px 0px;
    padding-bottom: 6px;
    width: 180px;
    cursor: pointer;
}

/* .home_hero_info_image {
    width: 50%;
}

.home_hero_info_image img {
    width: 100%;
} */
.home_hero_info_image {
    width: 45%;
}

.home_hero_info_image img {
    width: 100%;
}






.home_hero_topc {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    margin: auto;
    margin-top: 140px;
}

.home_hero_topc_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home_hero_topc_info_all {
    display: flex;
    flex-direction: column;
}

.home_hero_topc_info_title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;

    color: #2D3134;
    margin-bottom: 24px;
}

.home_hero_topc_info_desc {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 50px;
}

.home_hero_topc_info_buttons {
    width: 122px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home_hero_topc_info_buttons_prev {
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid #ECECEC;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    cursor: pointer;
}

.home_hero_topc_info_buttons_next {
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid #ECECEC;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background: #FF7B29;
    cursor: pointer;
}

.home_hero_topc_images {
    /* display: flex; */
    width: 100%;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* flex-shrink: initial; */
    flex-wrap: wrap;
    margin-top: 50px;
    columns: 4;
    column-gap: 1.5rem;
    /* padding: 2rem 10% 10%; */
}

.home_hero_topc_images_image {
    width: 274px;
    height: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(36, 36, 40, 0.59) 100%);
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 26px;
    position: relative;
}

.home_hero_topc_images_image img {
    border-radius: 20px;
    width: 100%;
}

.home_hero_topc_images_image_info {
    position: absolute;
    display: flex;
    text-align: center;
    width: auto;
    left: 25px;
    bottom: 24px;
}

.home_hero_topc_images_image_info_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    /* font-size: 24px; */
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;

    color: #FFFFFF;

    text-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}






.home_footer {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home_footer_shadwo {
    position: absolute;
    left: -15%;
    width: 100vw;
    /* height: 100px; */
    /* background-color: red; */
    overflow: hidden;
    bottom: 110%;
    box-shadow: 0 14px 1px 0.5px rgba(0, 0, 0, .2);
}

.home_footer_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* background: #132742; */
}

.home_footer_main_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home_footer_main_links_link_b {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;


    color: #020000;
    margin-bottom: 23px;

}

.home_footer_main_links_link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #676A6C;
}

.home_footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
    padding: 0px 0;
    margin-top: 80px;
}

.home_hero_nav_menu_social {
    display: flex;
    flex-direction: row;
    width: 170px;
    justify-content: space-between;
    align-items: center;
}

.home_hero_nav_menu_social_social {
    padding: 17px;
    cursor: pointer;
}

.home_hero_nav_menu_social_social_svg {
    transition: 0.5s;
}

.home_hero_nav_menu_social_social:hover .home_hero_nav_menu_social_social_svg {
    fill: #FF7B29;
    transition: 0.5s;
}










/********* About Page ******/
.about_about {
    margin-top: 140px;
}

.about_about_image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about_about_image img {
    width: 200px;
    filter: drop-shadow(5px 5px 5px rgba(66, 55, 55, .79)) drop-shadow(-7px -7px 6px #625A5A);
}

.about_about_desc {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* color: #676A6C; */
    margin: 45px 0;
    text-indent: 6ch;
}

.about_about_desc_p:nth-child(2) {
    line-height: 28px;
    text-indent: 6ch;
    margin-top: 10px;
    text-justify: distribute;
}











/********Products Page  ********/
.products {
    display: flex;
    flex-direction: row;
}

.prodcuts_plates {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prodcuts_plates_plate {
    margin-right: 30px;
    margin-bottom: 26px;
    /* padding: 15px; */
    width: 386px;
    /* height: 438px; */
    background: #FFFFFF;
    box-shadow: 0px 40px 90px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prodcuts_plates_plate_img {
    width: 356px;
    height: 190px;
    border-radius: 16px;
    background: rgb(230, 230, 230);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.prodcuts_plates_plate_img img {
    width: 50%;
    transition: 2.5s;
}

.prodcuts_plates_plate_img:hover img {
    transform: scale(1.5);
    transition: 2.5s;
}

.prodcuts_plates_plate_size {
    margin: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #2D3134;
}

.prodcuts_plates_plate_name {
    margin: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #2D3134;
}

.prodcuts_plates_plate_show {
    width: 111px;
    height: 38px;

    border: 1px solid #31C3E0;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    color: #30BBD7;
    margin: 39px 0;
    cursor: pointer;
    transition: 0.2s;
}

.prodcuts_plates_plate_show:hover {
    background-color: #30BBD7;
    color: #ECECEC;
    transition: 0.2s;
}





/* Plates */
.plates_plates_plate{
    margin-right: 30px;
    margin-bottom: 26px;
    /* padding: 15px; */
    width: 300px;
    /* height: 438px; */
    background: #FFFFFF;
    box-shadow: 0px 40px 90px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plates_plates_plate_img {
    width: 280px;
    height: 300px;
    border-radius: 16px;
    background: rgb(230, 230, 230);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.plates_plates_plate_img img {
    width: auto;
    transition: 2.5s;
}

.plates_plates_plate_img:hover img {
    transform: scale(1.5);
    transition: 2.5s;
}
.plates_plates_plate_size{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 24px;
    margin-bottom: 10px;
}
.plates_plates_plate_name {
    margin: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #2D3134;
    margin-top: 5px;
}
